<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://www.morecap.com.br/assets/images/SM-placeholder.png"
            height="200px" 
            alt=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Lorem ipsum dolor sit amet consectetur</a></h1>        
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil illo ut deserunt, id neque quisquam quo pariatur voluptate vero ratione facilis voluptatem accusantium optio eligendi minus natus dolore fuga consequatur.</a>
        </p>
    </div>
</div>