@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container__content {
        margin: 20px;
        padding: 0 4rem;

    }

    .content__cover {
        display: flex;
        flex-direction: column;
    }

    .content__cover > img {
        margin: 35px 0;
    }
}

@media screen and (min-width: 1024px) {
    .container__content {
        margin: 20px;
        padding: 0 12rem;
    }

    .content__cover {
        display: flex;
        flex-direction: column;
    }

    .content__cover > img {
        margin: 35px 0;
    }
}



