@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container__articles {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .container__articles {
        flex-direction: row;
        gap: 50px;
    }
}

